.App {
  text-align: center;
}

body {
  background-color: #1B262C;
  color: #fff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.input {
  padding: 10px 20px;
  border-radius: 15px;
  border-style: solid;
  border-color: #24343D;
  margin: 10px;
  background-color: #24343D;
  color: #fff;
}

.find-button {
  padding: 10px 20px;
  border-radius: 15px;
  border-style:none;
  background-color: #5C93B1;
  color: #fff;
  font-size: 16px;
  outline:0px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.header-title {
  font-size: 24px;
  font-weight: 600;
  margin: 0px;
}

.link-container {
  display: flex;
}

.link-container-item {
  margin: 0px 30px;
  font-weight: 100;
}

.active {
  font-weight: 600;
}

.sign-button {
  color: #fff;
  border-radius: 10px;
  background: linear-gradient(108deg, #3A5E72 4.95%, #5C93B1 132.43%);
  border-style: none;
  padding: 10px 25px;
  box-shadow: 7px 7px 10px 0px rgba(79, 136, 167, 0.30) inset;
}

.about-container{
  margin: 100px 300px;
}